html {
    height: 100%;
}
/* 
START ************************************************************888

*/
body {
    background-color: aliceblue;
    height: 100%;
}

.outer-container {
    display: grid;
    grid-template: 10% 90% / 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-auto-flow: column;
    height: 100%;
}

header {
    background-color: red;
    grid-column: 1 / 11;
}

nav{
    background-color: green;
    grid-row-start: 2;
}

.content-container {
    grid-column: 2 / 11;
    background-color: blue;
    display: grid;
    /* training arc lol */
    /* grid-template-columns: 100px 100px;
    grid-template-rows: 250px 100px; */
    grid-template: 100px 100px / 100px 100px 100px;
    grid-auto-rows: 100px;
    gap: 20px;
   
}

.content {
    border: 2px solid black;
}

.scroll {
    height: 500px;
}