@font-face {
    font-family: "inter-regular";
    src: url("./assets/fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: "inter-medium";
    src: url("./assets/fonts/Inter-Medium.ttf");
}
@font-face {
    font-family: "inter-light";
    src: url("./assets/fonts/Inter-Light.ttf");
}

html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* 
START ************************************************************888

*/
body {
    background-color: aliceblue;
    height: 100%;
}

.outer-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 0.85fr 9.15fr / 1.5fr 8.5fr;
}

header {
    background-color: #FFFFFF;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
}

.header-content-left-container {
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 19px 0px;
    border: 2px #E6E6E6 solid;
}
.brand-icon {
    margin-left: -10px;
}
.brand-name {
    margin-left: 8px;
    font-size: 1.5rem;
    font-family: "inter-medium";
}
.header-content-right-container{
    display: flex;
    align-items: center;
    border: 2px #E6E6E6 solid;
    border-left: none;
    
}
.search-bar {
    display: flex;
    gap: 8px;
    border-radius: 16px;
    border: 1px #cfcfcf solid;
    padding: 16px 12px;
    flex: 0 0 480px;
    margin-left: 32px;
}
.search-text {
    font-family: "inter-light";
    font-size: 0.75rem;
    color: #717171;

}
.profile-container {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 36px;
}
.bell-container {
    border-radius: 50%;
    border: 1px #cfcfcf solid;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture {
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-left: 32px;
}
.profile-name {
    font-family: "inter-regular";
    font-size: 1rem;
    justify-self: flex-end;
    margin-left: 16px;
}

nav {
    background-color: #FFFFFF;
    border: 2px #E6E6E6 solid;
    border-top: none;
}
.top-container,
.bottom-container  {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
}
.top-container {
    margin-top: 64px;
}
.bottom-container {
    margin-top: 24px;
}
.menu-option {
    display: flex;
    gap: 12px;
    padding: 8px 0px;
    padding-left: 8px;
    margin: 0px 12px;
}
.menu-option:hover {
    cursor: pointer;
}
.menu-text {
    font-family: "inter-regular";
    font-size: 1rem;

}
.dashboard-option {
    background-color: #0177CB;
    border-radius: 8px;
}
.dashboard-option .menu-text {
    color: white;
}

.content-container {
    background-color: #F0F0F0;
}